# CODE #
#########
**/__pycache__
/thesis_overleaf/main.synctex.gz
daikonparent/
*.dtrace
plots/
*.inv.gz
*.decls



# Latex #
#########
*.aux
*.log
*.temp
*.make
*.d
*.doc
*.dvi
*.ind
*.dem
*.nav
*.fls
*.out
*.snm
*.pdf
*.toc
*.vrb*
*.blg
*.bbl
*.cookie
*.flags
*.vtc
*.thm
*.latexmain
*.lof
*.fdb_latexmk
*.synctex*.gz
*.gz(busy)
